<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hst.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--End-->

    <!--Maps Permission-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--End-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.happysanztech.mmm.permission.MAPS_RECEIVE" />

    <!--Hardware Permission-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--End-->
    <!--Phone State Permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBarLogin"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.NumberVerificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.SubCategoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ServiceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.BookingSummaryAcivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.RequestedServicesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.RequestedServicesDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.OngoingServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.OngoingServiceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ServiceHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AdvancePaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AssignProviderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ccavenue.activity.InitialScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ccavenue.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ccavenue.activity.StatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ccavenue.activity.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ServiceSummaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ServicePersonTrackingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AdditionalServiceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.CancelRequestedServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.RateServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ViewBillActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ViewBillImageZoom"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />


    </application>

</manifest>